@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	background-color: #E8E7D3;
	color: #312823;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}.result {
	background-color: #e8e7d3;
}
.fieldname {
	color: #e8e7d3;
	background-color: #534a45;
}
.cell {
	color: #534a45;
	background-color: #FFF;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	color: #534a45;
}
